app-menu{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    height: 100vh;
}

#div_table_graphic{
    display: inline-block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

app-graphic{
    display: block;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

app-tableatendplan{
    display: block;
    margin-top: 15px;
}

p-chart{
    margin: auto;
}
